ingress:
  enabled: true
  hosts:
    - grafana.cis1880.org
  tls:
    - secretName: grafana-cis1880-org-tls
      hosts:
        - grafana.cis1880.org

admin:
  existingSecret: grafana
  userKey: ADMIN_USER
  passwordKey: ADMIN_PASSWORD

persistence:
  enabled: true
  type: statefulset
  size: 10Gi

plugins:
  - grafana-piechart-panel

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: "default"
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

dashboards:
  default:
    node-exporter:
      gnetId: 1860
      revision: 19
    cert-manager:
      url: https://raw.githubusercontent.com/pennlabs/infrastructure/master/grafana-dashboards/cert-manager.json
    traefik:
      url: https://raw.githubusercontent.com/pennlabs/infrastructure/master/grafana-dashboards/traefik.json
    pod-dashboard:
      url: https://raw.githubusercontent.com/pennlabs/infrastructure/master/grafana-dashboards/pod-dashboard.json

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-server.monitoring
        access: proxy
        orgId: 1

grafana.ini:
  server:
    domain: "grafana.cis1880.org"
    root_url: "https://%(domain)s/"
  auth.github:
    enabled: true
    scopes: user:email,read:org
    auth_url: https://github.com/login/oauth/authorize
    token_url: https://github.com/login/oauth/access_token
    api_url: https://api.github.com/user
    allow_sign_up: true
    allowed_organizations: cis1880

envFromSecret: "grafana"
